body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #333;
}
.place {
    background: rgb(255, 197, 197);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
}
.place h2 {
    margin: 0;
    color: #0d0e0f;
}
.place p {
    color: #000000;
}