body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #120e0e;
}
.cave {
    background: rgb(178, 234, 222);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
}
.cave h2 {
    margin: 0;
    color: #093867;
}
.cave p {
    color: #000000;
}