<body>
    <header class="header">
        <h2 style="color: rgb(7, 15, 71); font-family: Verdana;position: absolute;left: 450px;top: 25px;font-size: xx-large;">Start your journey Here</h2> 
    </header>
    <div style="position: absolute; left: 100px;top: 45px;">
        <a href="/home" class="logo">
             <img src="/images/Website-logo.jpg" alt="logo" style="height: 50px;width: 80px; background: transparent; border-radius: 20px;"  >
        </a>
    </div> 
        <nav class="navigation">
            <ul class="navlinks">
                <li><a href="/destination" style="color: white;">Destination</a></li>
                <li><a href="#" style="color: white;">Plan your trip</a></li>
                <li><a href="/fun" style="color: white;">Travel Guide</a></li>
            </ul>
        </nav>
    <div class="s1">
       <!-- <select class="select-box" name="state">
            <option value="null"></option>
            <options value="ap">Andhra Pradesh</options>
            <options value="an">Andaman and Nicobar Islands</options>
            <options value="ar">Arunachal Pradesh</options>
            <options value="as">Assam</options>
            <options value="an">Andhra Pradesh</options>
            <option value="bh">Bihar</option>
            <option value="ch">Chandigarh</option>
            <option value="ct">Chhattisgarh</option>
            <option value="kl">Dadra and Nager Haveli</option>
            <option value="dd">Daman and Diu</option>
            <option value="dl">Delhi</option>
            <option value="goa">Goa</option>
            <option value="gj">Gujarat</option>
            <option value="hr">Haryana</option>
            <option value="hp">Himachal Pradesh</option>
            <option value="jk">Jammu and Kashmir</option>
            <option value="jh">Jharkand</option>
            <option value="kr">Karnataka</option>
            <option value="kl">Kerala</option>
            <option value="lk">Ladakh</option>
            <option value="lh">Lakshadweep</option>
            <option value="mp">Madhya Pradesh</option>
            <option value="mh">Maharastra</option>
            <option value="mn">Manipur</option>
            <option value="mg">Meghalaya</option>
            <option value="mz">Mizoram</option>
            <option value="nl">Nagaland</option>   
            <option value="od">Odissa</option>
            <option value="pd">Puducherry</option>
            <option value="pj">Punjab</option>
            <option value="sk">Sikkim</option>
            <option value="tn">Tamil Nadu</option>
            <option value="tl">Telangana</option>
            <option value="wb">West Bengal</option>
        </select>  -->  
    </div>
    <br>
    <br>
    <br>
    <div>
        <figure class="pics-container">
            <img class="pics" src="/images/Kakochang-Waterfalls.webp" alt="assam" width="300px" height="300px">
            <a href="/assam"><figcaption class="caption">Assam</figcaption></a>
        </figure>
        <figure class="pics-container">
            <img class="pics" src="../images/PUNJAB.jpg" alt="PUNJAB" height="300px" width="300px">
            <a href="/punjab"><figcaption class="caption">Punjab</figcaption></a>
        </figure>
        <figure class="pics-container">
            <img class="pics" src="/images/Sonmarg-Jammu-Kashmir.jpg" alt="JK" height="300px" width="300px"> 
            <a href="/jk"><figcaption class="caption">Jammu and Kashmir</figcaption></a>
        </figure>
        <figure class="pics-container">
            <img class="pics" src="/images/ezhikkara-ernakulam-1728478133_9a7d55ee60c3af7f9db5.webp" alt="kerala" height="300px" width="300px"> 
            <a href="/kerala"><figcaption class="caption">Kerala</figcaption></a>
        </figure>
        <figure class="pics-container">
            <img class="pics" src="/images/licensed-image (2).jpg" alt="mumbai" height="300px" width="300px"> 
            <a href="/maharastra"><figcaption class="caption">Maharastra</figcaption></a>
        </figure>
        <figure class="pics-container">
            <img class="pics" src="/images/Top-10-tourist-places-to-visit-in-Himachal-Pradesh-26.jpg" alt="Himachal Pradesh" height="300px" width="300px">       
            <a href="/hp"><figcaption class="caption">Himachal Pradesh</figcaption></a>
        </figure>
        <figure class="pics-container">
            <img class="pics" src="/images/Tamil Nadu/Alagar Kovil.jpeg" alt="tamil nadu" height="300px" width="300px"> 
            <a href="/tamilnadu"><figcaption class="caption">Tamil Nadu</figcaption></a>
        </figure>   
        <figure class="pics-container">
            <img class="pics" src="/images/karnataka/Stone-Chariot-Vittala-Temple-Hampi.jpg" alt="tamil nadu" height="300px" width="300px">
            <a href="/karnataka"><figcaption class="caption">Karnataka</figcaption></a>
        </figure>
        <figure class="pics-container">
            <img class="pics" src="/images/Rajasthan/reason_best_travel_spot_banner-min.jpg" alt="tamil nadu" height="300px" width="300px">
            <a href="/rajasthan"><figcaption class="caption">Rajasthan</figcaption></a>
        </figure>              
    </div>
</body>
<br>
<br>
<footer>
    <div style="color: azure;background-color: rgb(8, 3, 26);font-family: Veradana;font-size: x-large;text-align: center;">CONTACT US</div>
    <div class="footer-content">
        <table>
            <tbody>
                <tr>
                    <td><img src="/images/ICONS/icons8-gmail-48.png" width="50px" height="50px"></td>
                    <td><img src="/images/ICONS/facebook.png" width="50px" height="50px"></td>
                    <td><img src="/images/ICONS/icons8-twitter-50.png" width="50px" height="50px"></td>
                    <td><img src="/images/ICONS/4375133_logo_youtube_icon.png" width="50px" height="50px"></td>
                </tr>
                <tr>
                    <td><a href="www.gmail.com">G-mail</a></td>
                    <td><a href="www.facebook.com">Facebook</a></td>
                    <td><a href="www.twitter.com">Twitter</a></td>
                    <td><a href="www.youtube.com">Youtube</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</footer>