body {
    font-family: Arial, sans-serif;
    background:linear-gradient(90deg,#30cc93,#137dbb,#bc53cc);
    margin: 0;
    padding: 20px;
}
h1 {
    color: #090707;
}
.event {
    background: rgb(213, 239, 210);
    border: 1px solid #5c1616;
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px;
}
.event h2 {
    margin: 0;
}
.event p {
    margin: 5px 0;
}