<!-- loan-application.component.html -->
<div class="loan-application">
    <h1>Fiancebro Student Loan</h1>
    <p>A term loan granted to Indian Nationals for pursuing higher education in India or abroad where admission has been secured.</p>
  
    <h2>Features</h2>
  
    <h3>Loan Amount</h3>
    <p>- Studies in India</p>
    <table>
      <tr>
        <th>Maximum Loan limit for</th>
        <th>Ranked Top 100 by NIRF</th>
        <th>Other Eligible Institutions</th>
      </tr>
      <tr>
        <td>Medical (MBBS / MD / MS)</td>
        <td>Upto ₹ 75.00 lakh</td>
        <td>Upto ₹ 50.00 lakh</td>
      </tr>
      <tr>
        <td>All other courses including dental</td>
        <td>Upto ₹ 50.00 lakh</td>
        <td>Upto ₹ 30.00 lakh</td>
      </tr>
      <tr>
        <td colspan="3"><strong>Higher loan limit is considered on case-to-case basis as under:</strong></td>
      </tr>
      <tr>
        <td>Medical (MBBS / MD / MS)</td>
        <td>Need based loans</td>
        <td>Upto ₹ 1.00 crore</td>
      </tr>
      <tr>
        <td>All other courses including dental</td>
        <td>Upto ₹ 1.00 crore</td>
        <td>Upto ₹ 50.00 lakh</td>
      </tr>
    </table>
  
    <h3>- Studies abroad:</h3>
    <p>Upto ₹ 7.50 lakh (Higher loan limit for Studies abroad are considered under Global Ed-vantage Scheme, maximum upto ₹ 3.00 Crores)</p>
    <p>Loan tenure of up to 15 years after Course Period + 12 months of repayment holiday*</p>
  
    <a routerLink="/educationform" class="apply-now">Apply Now</a>
  </div>
  